/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/css/allCoreui.css
public/css/allHome.css
public/js/allCoreui.js
public/js/allHome.js
public/js/appAdmin.js
public/js/appHome.js
